<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQQJ0szV0ps3TEb3Stj3w53Pi2nzj7I90</string>
	<key>GCM_SENDER_ID</key>
	<string>619405585931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jean.SyncReady</string>
	<key>PROJECT_ID</key>
	<string>syncready-3ffe1</string>
	<key>STORAGE_BUCKET</key>
	<string>syncready-3ffe1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619405585931:ios:58b4997b0a314cadc6610e</string>
</dict>
</plist>